<mat-card>
  <mat-card-title>Categories</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
      <div>
        <mat-label>Choose an option</mat-label>
        <div>
          <mat-radio-group formControlName="categories">
            <mat-radio-button *ngFor="let item of categories$ | async" [value]="item">{{item}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of productsList$ | async">{{item.title}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

